@use "./variables" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  background-color: $color-diamond;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-black-blue;
  font-family: $ff-main;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  outline: none;
}

textarea {
  resize: none;
}