// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-black-25: rgba(0, 0, 0, 0.25);
$color-black-blue: #42567A;
$color-black-blue-50: rgba(66, 86, 122, 0.5);
$color-black-blue-20: rgba(66, 86, 122, 0.2);
$color-original-blue: #3877EE;
$color-royal-pink: #EF5DA8;
$color-iris: #5D5FEF;
$color-fuschia: #EF5DA8;
$color-diamond: #F4F5F9;
$color-vintage-blue: #303E58;
$color-vintage-blue-50: rgba(48, 62, 88, 0.5);
$color-light-blue: #C7CDD9;

// Typography
$ff-main: "PTSans", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;